@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #e0f2fe, #3b82f6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-container, #chat-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    width: 300px;
    padding: 15px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: solid 1px #1e40af;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px; 
    font-size: 1.2rem; 
    color: #1e40af;
    font-weight: 600;
    position: relative;
}

#online {
    background-color: #16a34a;
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-item {
    background: rgba(59, 130, 246, 0.1);
    border: 1px solid #3b82f6;
    color: #1e3a8a;
    text-align: center;
    padding: 8px; 
    border-radius: 8px;
    font-size: 1.2 rem; 
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-item:hover {
    background: #3b82f6;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.chat-box {
    background: rgba(59, 130, 246, 0.05);
    border: 1px solid #3b82f6;
    padding: 12px; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 250px;
    margin-bottom: 12px;
}

.chat-message {
    background: #3b82f6;
    color: white;
    padding: 8px; 
    border-radius: 8px;
    margin-bottom: 8px; 
    width: fit-content;
    max-width: 75%; 
}

.chat-message.user {
    background: #16a34a;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    gap: 8px; 
}

.chat-input input {
    flex: 1;
    padding: 8px; 
    border-radius: 8px;
    border: 1px solid #3b82f6;
    font-size: 0.95rem; 
}

.chat-input button {
    padding: 5px 10px; 
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.95rem; 
    transition: all 0.3s ease;
}

.chat-input button:hover {
    background: #2563eb;
}
