@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    font-family: Poppins;
    background: linear-gradient(120deg, #e2e8f0, #0369a1);
    display: flex;
    justify-content: center;
    align-items: center;

}

#online{
    background-color: #16a34a;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

#chat-conteiner{
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: solid 1px #1e3a8a;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 300px;
    height: 500px;
    max-width: 400px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 1px #1e3a8a;
}

.users{
    border-radius: 5px;
    margin: 15px;
    border: solid #1e3a8a 1px;
    width: 250px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.199);
    
}

.users:hover{
    transition: ease-in-out 0.3s;
    background-color: #1e3a8a;
    color: #e2e8f0;
}
